<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTArtworkFunction</key>
	<string>artworkUpdate</string>
	<key>BTArtworkHeight</key>
	<integer>30</integer>
	<key>BTArtworkWidth</key>
	<integer>30</integer>
	<key>BTMainFile</key>
	<string>index.html</string>
	<key>BTStatusFunction</key>
	<string>playerUpdate</string>
	<key>BTThemeArtist</key>
	<string>maeddes</string>
	<key>BTThemeIdentifier</key>
	<string>net.p-rimes.maedddes.rolli-mouse-actions</string>
	<key>BTThemeName</key>
	<string>rolli-mouse-actions</string>
	<key>BTThemePreviewImage</key>
	<string>preview.png</string>
	<key>BTTrackFunction</key>
	<string>trackUpdate</string>
	<key>BTWindowHeight</key>
	<integer>32</integer>
	<key>BTWindowMode</key>
	<string>desktop</string>
	<key>BTWindowWidth</key>
	<integer>300</integer>
</dict>
</plist>
